mixin flashbox
    - if (board.flash.error.length > 0 || board.flash.info.length > 0)
        .flash-box
            - if (board.flash.error.length > 0) {
                - each flash in board.flash.error
                    .container
                        .row-fluid
                            .span4
                            .flash.alert.alert-error.span4= flash
                            .span4
            - }
            - if (board.flash.info.length > 0) {
                - each flash in board.flash.info
                    .container
                        .row-fluid
                            .span4
                            .flash.alert.alert-info.span4= flash
                            .span4
        - }