mixin flashbox
    // Begin flashbox
    - if (board.flash.error.length > 0 || board.flash.info.length > 0) {
        .flash-box
            - if (board.flash.error.length > 0) {
                - each flash in board.flash.error
                    .row
                        .flash.span4.alert.alert-error= flash
                            a.close(href="#")
                                | &times;

            - }
            - if (board.flash.info.length > 0) {
                - each flash in board.flash.info
                    .row
                        .flash.span4.alert.alert-info= flash
                            a.close(href="#")
                                | &times;
            - }
    - }
    // End flashbox