mixin sidebar(tags)
    form#searchForm.rule-h-bottom(action='/post/', method="get")
        input#search(name="tags", type='search', placeholder='Search Posts', class="span12")
    #taglist
        - each tag in tags
            mixin linkTag(tag)
            |&nbsp;
            span.tagC.badge.badge-info= tag.c
            br