mixin sidebar(tags)
    form#searchForm.rule-h-bottom(action='/post/index', method="get")
        input#search(type='search', placeholder='Search Posts', class="span12")
    #taglist
        - each tag in tags
            a.tag(href='/wiki/show/'+tag.n) ?
            |&nbsp;
            if tag.m && tag.m.t
                a(class='tag tag-type-'+tag.m.t, href='/post/?tags='+tag.n)= tag.p
            else
                a.tag(href='/post/?tags='+tag.n)= tag.p
            |&nbsp;
            span.tagC.badge.badge-info= tag.c
            br