extends layout

block content
    link(rel='stylesheet', href='/css/login.css')
    mixin flashbox
    #auth.container
        .row
            .span3
                |&nbsp;
            #auth-box.span6
                #login.span3
                    .turnways
                        h1 Login
                    form(id="login-form", method="post", action="/login/")
                        input#username.input(type="text", placeholder="Username", name="username", tabindex=1)
                        input#password.input(type="password", placeholder="Password", name="password", tabindex=2)
                        input.btn(type="submit", value="Login", tabindex=3)
                #signup.span3
                    .turnways
                       h1 Signup
                    form(id="signup-form", method="post", action="/s/create", autocomplete="off")
                        #username-c.control-group
                            input#s-username.input(type="text", placeholder="Username", name="username", tabindex=4)
                        #password-c.control-group
                            input#s-password.input(type="password", placeholder="Password", name="password", tabindex=5)
                        input#s-email.input(type="email", placeholder="Email", name="email", tabindex=6)
                        input.btn(type="submit", value="Register", tabindex=7)
            .span3
                |&nbsp;
    script.
        $(function(){
            var sunttt;
            var reg = /^[0-9a-z\.\-\_]+$/i;
            $('#s-username').tooltip({
                trigger: 'manual'
            });
            $('#s-password').blur(function() {
                if ($('#s-password').val().length < 6) {
                    $('#password-c').removeClass('success');
                    $('#password-c').addClass('error');
                    $('#s-password').data('tooltip').options.title="Password needs to be at least six characters long";
                    $('#s-password').tooltip('show');
                    clearTimeout(sunttt);
                    sunttt = setTimeout("$('#s-password').tooltip('hide')",3000);
                } else {
                    $('#s-password').data('tooltip').options.title='Pick wisely! Must be six characters long.';
                    $('#password-c').removeClass('error');
                    $('#password-c').addClass('success');
                }
            });
            $('#s-username').blur(function() {
                if ($('#s-username').val().length < 3) {
                    $('#username-c').removeClass('success');
                    $('#username-c').addClass('error');
                    $('#s-username').data('tooltip').options.title="Usernames must be at least three characters long";
                    $('#s-username').tooltip('show');
                } else {
                    if (reg.test($('#s-username').val())) {
                        $.getJSON('/s/username/'+$('#s-username').val(), function(data) {
                            if(data.available == true) {
                                clearTimeout(sunttt);
                                $('#username-c').addClass('success');
                                $('#username-c').removeClass('error');
                                $('#s-username').data('tooltip').options.title="Username Available";
                                $('#s-username').tooltip('show');
                                sunttt = setTimeout("$('#s-username').tooltip('hide')",3000);
                            } else {
                                clearTimeout(sunttt);
                                $('#username-c').removeClass('success');
                                $('#username-c').addClass('error');
                                $('#s-username').data('tooltip').options.title="Username in use";
                                $('#s-username').tooltip('show');
                                sunttt = setTimeout("$('#s-username').tooltip('hide')",3000);
                            }
                        });
                    } else {
                        $('#username-c').removeClass('success');
                        $('#username-c').addClass('error');
                        $('#s-username').data('tooltip').options.title="Usernames can only contain letter, numbers, and ._-";
                        $('#s-username').tooltip('show');
                    }
                }
            });
            $('#s-password').tooltip({
                title: 'Pick wisely! Must be six characters long.'
            });
            $('#s-email').tooltip({title: 'For account recovery and verification.!'});
        });