extends layout

block content
    #subnav.navbar
        .container
            .row-fluid
                .span1
                .span11
                    ul.nav
                        mixin postsnav(active)

    mixin flashbox

    block body