/* Tag Type Colors */
.label-character {
    color:#FFF;
    background-color:#811399;
}
.tag-character {
    color:#B746CF;
}
.tag-character:hover {
    color:#B746CF;
}

/* General Colors */
body {
    background-color:#3f3f3f;
}
.well {
    background-color:#333;
}

#subnav {
    background-color: #303030;
    border-bottom: 1px solid #252525;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05) inset;
}
.rule-v-left {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
    box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
    border-left: 1px solid #242424;
}
.rule-v-right {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0 inset;
    box-shadow: rgba(255, 255, 255, 0.07) -1px 0 0 inset;
    border-right: 1px solid #242424;
}
.rule-h-bottom {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid #242424;
}
.flash {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#body {
    color:#fff;
}

#body .table tr td:first-child , #body .table tr th:first-child {
    border-color:#333;
}
#body .table-bordered {
    border-color:#333;
    background-color:#373737;
}
#body .table-striped tbody tr:nth-child(odd) td, #body .table-striped tbody tr:nth-child(odd) th {
    background-color: rgba(0,0,0,0.24);
}
#body .table tbody tr:hover td, #body .table tbody tr:hover th {
    background-color: rgba(0,0,0,0.4);
}
#body .table th, #body .table td {
    border-top:0;
    border-color:#333;
}

/* Globals */
#github {
    position:absolute;
    top:10px;
    right:10px;
}
#content {
    padding:0;
}

.rule-v-left {
    padding-left:10px;
}
.rule-h-bottom {
    padding-bottom:10px;
}

#subnav {
    min-height: 25px;
}
#subnav .nav > li > a {
    padding:0;
    padding-top:5px;
    padding-bottom:4px;
    padding-right:10px;
    padding-left:10px;
}
.flash-box {
    margin-top:30px;
    position:fixed;
    top:0px;
    left:0px;
    width:98%;
}
.flash {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top:10px;
    text-align:center;
    float:none !important;
}
.left {
    float:left;
}
.right {
    float:right;
}

/* Sidebar */
#searchForm {
    width:220px;
    padding-left: 10px;
    margin-top: 20px;
    width: 190px;
}
#sidebar {
    width:200px;
    float:left;
}
#sidebar #search {
    width:180px;
}
#taglist {
    padding-left: 10px
}
.tagC {
    float:right;
    margin-right:10px;
}
/* Content Area */
#body {
    margin-left: 0;
    padding-left: 0;
    padding-top: 20px;
    position: absolute;
    left: 200px;
}

/* Modifications to Bootstrap */
@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
    .hide767 {
        display:none !important;
    }
}
@media (max-width: 500px) {
    #github {
        display:none;
    }
}
@media (max-width: 979px) {
    #github {
        right:90px;
    }
}
.form-actions {
    background-color: transparent;
    border-top: none;
    padding:0;
    margin-bottom:0;
}