body {
    background-color:#3f3f3f;
}
.well {
    background-color:#333;
}

#content {
    padding-left:20px;
    margin-top:20px;
}

#searchForm {
    width:220px;
}
.rule-v-left {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
    box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
    border-left: 1px solid #242424;
    padding-left:10px;
}
.rule-h-bottom {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
    border-bottom: 1px solid #242424;
    padding-bottom:10px;
}

#subnav {
    min-height: 25px;
    background-color: #303030;
    border-bottom: 1px solid #252525;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05) inset;
}
#subnav .nav > li > a {
    padding:0;
    padding-top:5px;
    padding-bottom:4px;
    padding-right:10px;
    padding-left:10px;
}
.flash-box {
    margin-top:30px;
    position:fixed;
    top:0px;
    left:0px;
    width:98%;
}
.flash {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top:10px;
    text-align:center;
    float:none !important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.label-character {
    color:#FFF;
    background-color:#811399;
}