extends ../layout
include ../includes/sidebar
include ../includes/tagmangler

block content
    #subnav.navbar
        .container
            .row-fluid
                .span1.hide767
                .span11
                    ul.nav
                        block nav

    #content.container-fluid
        .row-fluid
            #sidebar.span2
                block sidebar
                    mixin sidebar(tags)

            block main
                mixin flashbox