extends ../view

block head
    style(type="text/css").
        #body {
            padding-left: 20px;
        }
        #body .row {
            margin-left:0;
        }
        #preview-wrapper {
            display:none;
        }
        #description {
            min-height:300px;
        }

block nav
    mixin wikinav('wiki/edit/'+wiki.n, wiki)

block append main
    #body.span10.rule-v-left
        .row
            .span6
                h2 #{wiki.p}&nbsp;(Editing)
                #preview-wrapper.span8.well
                    h4 Preview
                    #preview-box
                form#description(action="/wiki/edit/"+wiki.n, method="post")
                    textarea#description.span10(name="message") #{wiki.r.m}
                    .btn-group.left
                        input.btn.btn-success(type="submit", value="Submit")
                        a.btn.btn-info#preview Preview
            .span6
                h4 Formatting Reference
                p idk, lol
                p URLs are automatically linked: https://google.com

block append scripts
    mixin msgfilterjs('#description textarea')